* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

#booksCollection {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  margin-top: 50px;
  gap: 50px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

#books {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 306px;
}

.displayFlex {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80%;
}

.liStyles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(208, 144, 208);
  padding: 5px 10px;
}

.liStyles:nth-child(even) {
  background-color: transparent;
}

.buttons {
  padding: 5px 10px;
  border: 3px solid black;
  box-shadow: 5px 5px 5px black;
  font-weight: 900;
  height: 40px;
}

#newBookSection {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;
}

#newBookSection > * {
  margin: auto;
  width: 50%;
}

input {
  border: 3px solid black;
  padding: 15px;
  margin-top: 50px;
  gap: 50px;
}

#addBtn {
  padding: 5px 10px;
  border: 3px solid black;
  box-shadow: 5px 5px 5px black;
  width: 100px;
  font-weight: 500;
  font-size: 1.4em;
}

.addBtnSide {
  display: flex;
  flex-direction: row-reverse;
}

#addBtn:hover {
  transform: scale(1.05);
  background-color: darkgrey;
  transition-duration: 0.5s;
}

.buttons:hover {
  transform: scale(1.05);
  background-color: darkgrey;
  transition-duration: 0.5s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 12px 24px;
  border: 3px solid black;
}

.navbar {
  display: flex;
  gap: 12px;
  list-style-type: none;
}

.navbar-a {
  text-decoration: none;
  padding: 12px;
  color: black;
  font-weight: 900;
  transition: all 0.2s;
}
.navbar-a:nth-child(2) {
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.navbar-a:hover > li{
  color: rgb(208, 144, 208);
  transform: scale(1.1);
}

.hide {
  display: none !important;
}

.footer {
  margin-bottom: 24px;
  padding: 12px 24px;
  border: 3px solid black;
  position: absolute;
  bottom: 0;
  right: 25px;
  left: 25px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
  padding: 0 130px;
}

#contactForm ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.date {
  position: absolute;
  right: 25px;
  top: 100px;
}

@media screen and (max-width: 768px) {
  #addBtn {
    padding: 5px 10px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
    width: 50px;
    font-weight: 900;
  }
  
  .header {
    justify-content: center;
  }

  .header p {
    display: none;
  }

  .date {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 410px) {
  .date {
    display: none;
  }
}
